<div class="home__container">
  <app-card
    gameCover="assets/spider-man2.webp"
    gameLabel="Digital"
    gameType="Disc | PS5"
    gamePrice="R$ 59.99"
  ></app-card>

  <app-card
    gameCover="assets/batman.jpg"
    gameLabel="Exclusive"
    gameType="Disc | PS5"
    gamePrice="R$ 59.99"
  ></app-card>

  <app-card
    gameCover="assets/call-of-duty.webp"
    gameLabel="Exclusive"
    gameType="Disc | PS5"
    gamePrice="R$ 59.99"
  ></app-card>

  <app-card
    gameCover="assets/hogwarts.webp"
    gameLabel="Digital"
    gameType="Disc | PS5"
    gamePrice="R$ 59.99"
  ></app-card>

  <app-card
    gameCover="assets/mortal-kombat.webp"
    gameLabel="Digital"
    gameType="Disc | PS5"
    gamePrice="R$ 59.99"
  ></app-card>
</div>
